footer {
  background-color: $background-color-base;
}

.nav-link {
  color: $font-color-base;
  font-weight: bold;
}

footer .nav-link {
  color: $font-color-base;
  font-weight: bold;
}

footer p {
  color: $font-color-base;
  font-weight: bold;
}
